.btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  display: inline-flex;
  justify-content: center;
  padding: 21px 20px 18px;

  color: $color-default-white;
  border: 4px solid $color-default-white;
  cursor: pointer;

  transition: opacity $trans-default;
  background-color: transparent;

  &--red {
    background-color: $color-torch-red;
  }

  &--dark {
    border: none;
    outline: 2px solid $color-sapphire;
    outline-offset: -2px;
    color: $color-sapphire;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    outline: none;
    border-image: $color-linear-gradient-tertiary 1;
  }
}
