.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 100%;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;
      width: 100%;
      min-height: 32px;

      border: none;
      border-bottom: 1px solid $color-light-slate-grey;
      outline: none;
      background-color: transparent;
      color: $color-default-white;

      transition: border 0.3s ease;

      &::placeholder {
        @include font-values(400, 14px, 1.14, $color-default-white);
        font-family: $ff-roboto-condensed;
      }

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }

      @include hover {
        opacity: 0.8;
      }

      @include focus {
        outline: 2px solid $color-default-white;
      }
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  .input-message {
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 12px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
