.main-header {
  padding-top: 30px;
  padding-bottom: 51px;
  background-image: $color-conic-gradient;

  @include vp-1199 {
    padding-top: 34px;
    padding-bottom: 82px;
    background-image: $color-conic-gradient-secondary;
  }

  @include vp-767 {
    padding-top: 16px;
    padding-bottom: 78px;
    background-image: $color-conic-gradient-tertiary;
  }
}

.main-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  // flex-wrap: wrap;
  margin-bottom: -23px;

  position: relative;
  z-index: 10;

  @include vp-1199 {
    margin-bottom: 18px;
  }

  @include vp-767 {
    column-gap: 20px;
  }
}

.main-header__logo-link {
  display: block;

  svg {
    display: block;
    width: 120px;

    transition: fill $trans-default;

    @include vp-1199 {
      width: 82px;
      height: auto;
    }

    @include vp-767 {
      width: 67px;
    }
  }

  @include hover {
    svg {
      fill: rgba($color-default-white, 80%);
    }
  }

  @include focus {
    outline: 2px solid $color-default-white;
    outline-offset: 2px;
  }
}

.main-header__links-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  justify-content: end;
}

.main-header__tel {
  @include font-values(600, 26px, 31px, $color-default-white);
  font-family: $ff-alumni-sans;
  letter-spacing: 0.03em;
  align-self: start;
  text-align: right;

  transition: color $trans-default;

  @include hover {
    color: rgba($color-default-white, 80%);
  }

  @include focus {
    outline: 2px solid $color-default-white;
    outline-offset: 2px;
  }

  @include vp-1199 {
    @include font-values(700, 24px, 29px, $color-default-white);
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    @include font-values(600, 20px, 24px, $color-default-white);
  }
}
