.reviews {
  margin-bottom: 119px;

  @include vp-1199 {
    margin-bottom: 101px;
  }

  @include vp-767 {
    margin-bottom: 70px;
  }

  h2 {
    @include font-values(600, 54px, 1.2, $color-sapphire);
    font-family: $ff-alumni-sans;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0;
    margin-right: -10px;
    margin-bottom: 37px;

    @include vp-1199 {
      font-size: 42px;
      margin-left: -14px;
      margin-bottom: 40px;
    }

    @include vp-767 {
      font-size: 32px;
      margin-left: -12px;
      margin-bottom: 42px;
    }
  }
}

.reviews__wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 45px;

  @include vp-1199 {
    column-gap: 29px;
  }

  @include vp-767 {
    column-gap: 5px;
  }
}

.reviews__slider {
  width: 560px;
  margin: 0;

  order: 2;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: calc(100% - 60px);
    min-width: 226px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__item {
  background-color: $color-resolution-blue;
  padding: 59px 62px 56px;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);

  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 28px;

  h3 {
    @include font-values(700, 20px, 1, $color-default-white);
    margin: 0;
    margin-bottom: 18px;

    @include vp-767 {
      line-height: 1.3;
      margin-bottom: 0;

      align-self: center;
    }
  }

  p {
    @include font-values(400, 16px, 1.4, $color-default-white);
    margin: 0;
    grid-column: 2/3;

    @include vp-767 {
      grid-column: 1/3;
      text-align: center;
      margin-top: 15px;
    }
  }

  @include vp-1199 {
    padding: 59px 65px 56px;
  }

  @include vp-767 {
    grid-template-columns: 100px 1fr;
    padding: 40px 25px 33px;
    column-gap: 0;
  }
}

.reviews__image {
  grid-row: 1/3;
  margin-top: 3px;

  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;

  @include vp-767 {
    width: 68px;
    height: 68px;
    margin-top: 0;
    margin-left: 16px;

    grid-row: 1/2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.reviews__arrow {
  position: relative;
  bottom: -10px;

  @include hover {
    &::before,
    &::after {
      background-color: $color-sapphire;
    }
  }

  @include focus {
    outline: 2px solid $color-sapphire;
    outline-offset: +1px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    font-family: none;
    width: 1px;
    height: 23px;
    background-color: $color-dark-gray;

    @include vp-767 {
      height: 13px;
    }
  }

  &::before {
    transform: translateY(11px) rotate(45deg);
    top: -8px;

    @include vp-767 {
      transform: translateY(15px) rotate(45deg);
      top: -4.5px;
    }
  }

  &::after {
    transform: translateY(11px) rotate(-45deg);
    top: 8px;

    @include vp-767 {
      transform: translateY(15px) rotate(-45deg);
      top: 4.5px;
    }
  }

  &--forward {
    transform: rotate(180deg);

    order: 3;

    @include vp-1199 {
      right: -5px;
    }

    @include vp-767 {
      right: -9px;
    }
  }

  &--back {
    order: 1;

    @include vp-1199 {
      left: -5px;
    }

    @include vp-767 {
      left: -9px;
    }
  }
}
